.container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    background-color: green;
}
.rightContainer ul{
    display: flex;
    gap: 40px;
}
.rightContainer ul li{
    list-style: none;
    font-size: 1.3rem;
}
.body{
    margin: 50px;
    text-align: center;
}